@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600&display=swap");

:root {
  --blue: #0CC0DF;
  --deepblue: #0a146e;
  --pastelblue: #004d8f;
  --softwhite: #e6ecf0;
  --white: #fff;
  --exchange-rate-color: #555;
  --input-background: rgba(119, 136, 153, 0.15);
  --input-shadow: rgba(119, 136, 153, 0.35);
  --input-border: #ddd;
  --shadow-1: rgba(0, 0, 0, 0.25);
  --shadow-2: rgba(0, 0, 0, 0.15);
  --loading-bg-1: #c2cfd6;
  --loading-bg-2: #f0f3f5;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

body {
  background-color: var(--softwhite);
}


.main {
  display: grid;
  place-items: center;
  height: 80vh;
  margin-bottom: 6.1vh;
  background-image: url(../assets/bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}

main {
  background: var(--white);
  padding: 30px;
  border-radius: 10px;
  width: 90%;
  max-width: 800px;
  max-height: 500px;
  overflow: hidden;
  display: grid;
  gap: 30px;
  box-shadow: 0 0 5px var(--shadow-1), 0 5px 10px var(--shadow-2);
  position: relative;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  color: var(--pastelblue);
}

.table-container {
    width: 100%;
    max-height: 300px; 
    overflow-y: auto; 
    border: 1px solid #ddd;
    border-radius: 5px;
}

#currency-table {
  border-collapse: collapse;
  width: 100%; 
}

#currency-table th,
#currency-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

#currency-table th {
  background-color: #f2f2f2;
}

#loading-message {
  font-size: 16px;
  color: #555;
}

.trend-up {
  color: green;
}

.trend-down {
  color: red;
}

.currency-input-container {
    display: flex; 
    align-items: center;
    gap: 10px; 
}

.currency-input-container label {
    margin-right: 10px; 
}

.currency-input-container input {
    flex: 1;
    padding: 8px;
    border: 1px solid var(--input-border);
    border-radius: 4px;
    font-size: 1rem;
}

.currency-input-container button{
    text-align: center;

    height: 2.5rem;
    padding: 10px 20px;
    background: var(--pastelblue);
    color: white;
    font-weight: bold;
    border-color: transparent;
    border-radius: 5px;
}
